<div style="margin: 20 auto; padding:20px; width:40%; border:1px solid #C0C0C0; font-size:12px;">
Reference number:  !error.refnum! <br>
Error code: !error.code! <br>
Timestamp: !error.date! !error.time! <br>
IP Address: !error.addr! <br>
URL: !error.url! <br>
HTTP cause: !error.cause! <br>
Admin e-mail: !error.admin!
</div>
