<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>MMVC example</title>
	{META charset=utf-8}
	{META Cache-Control=no-cache}
	{META Pragma=no-cache}
	{META expires=0}
	{META description=MMVC App}
	{META copyright=Copyrights 2014-2015, Mantella MVC}

	<link rel="shortcut icon" href="favicon.ico" />
	{STYLES "styles"}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/locale/"></script>
    {SCRIPTS "core"}
</head>
<body>

<div id="header">MySQL variables</div>

